@import '@styles/_variables';
@import '@styles/_mixins';
@import '@styles/_functions';

.link_wrapper {
  color: inherit;
  text-decoration: none;

  &:focus {
    & .item_container {
      @include accesibleFocus();
    }
  }
}

.item_container {
  width: 100%;
  background: white;
  display: flex;
  padding: rem(16px);
  box-sizing: border-box;
}

.thumbnail {
  min-width: rem(180px);
  min-height: rem(180px);
  border-radius: 4px;
  background-image: url('@/assets/placeholder.png');
}

.item_details {
  text-align: left;
  width: 100%;
  padding-left: rem(16px);

  &__price {
    @include fontSize(24px);
    margin-bottom: rem(18px);
    display: flex;
    position: relative;
    font-weight: normal;
  }

  &__title {
    margin: 0;
    @include fontSize(18px);
    max-width: 60%;
  }

  &__free_shipping {
    background: url('@/assets/ic_shipping@2x.png.png.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: rem(20px);
    width: rem(20px);
    margin-left: 10px;
    align-self: center;
  }

  &__condition {
    align-self: center;
    @include fontSize(12px);
    position: absolute;
    top: 2px;
    right: 10%;
    color: $color-gray-medium;
  }
}

hr {
  margin: 0 rem(16px);
  border: 1px solid $color-gray-light;
}
